<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <th_adminbar>
            <general>
                <enabled>1</enabled>
                <show_in_production>0</show_in_production>
            </general>
        </th_adminbar>
    </default>
</config>
